.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 100px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(10px); /* Blur effect */
  z-index: 1000;
  height: 30px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 34px;
  font-size: 20px;
  cursor: pointer;
}

.nav-connect {
  margin-left: 10px;
  margin-right: 140px;
  padding: 5px 10px;
  border-radius: 50px;
  background: linear-gradient(267deg, #da7c25 0.36%, #b923e1 102.06%);
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
  color: white;
}

.nav-connect:hover {
  transform: scale(1.05);
}

.nav-menu p {
  font-size: 20px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

body {
  padding-top: 80px;
}
.anchor-link {
  text-decoration: none;
  color: white;
}
.nav-close {
  display: none;
}
.nav-open {
  display: none;
}
@media (max-width: 768px) {
  .navbar {
    margin: 20px 50px;
  }
  .nav-connect {
    display: none;
  }
  .nav-open {
    display: block;
    /* position: fixed; */
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  .nav-close {
    display: block;
    position: absolute;
    top: 30px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  .nav-menu {
    position: fixed;
    flex-direction: column;
    align-items: start;
    top: 0%;
    gap: 30px;
    background-color: black;
    width: 350px;
    height: 100%;
    z-index: 2;
    transition: right 0.5s;
    right: -350px;
    padding-top: 50px;
  }
  .nav-menu li {
    font-size: 30px;
    padding-left: 100px;
    flex-direction: row;
    gap: 20px;
  }
}
